* {
  box-sizing: border-box;
  margin: 0;
  padding: 1.5px;
}

html {
  font-size: 16px;
  color: white;
  background-image: url("../images/donutBackground.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

#welcome-title {
  background-color: lightblue;
  margin-left: 0;
}

#top-page {
  font-size: 46px;
  text-align: center;
  color: darkgray;
  margin-top: 10px;
  
}

header {
  padding-top: 20px;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  color: darkgray;
  background-color: lightblue;
}

#navItem, #topLink {
  color: aqua;
  text-decoration: none;
  padding: .5em 2em;
}

a:hover {
  background-color: gray;
}

.heading-section{
  background-color: lightblue;
  margin: 10px 250px;
  
}

.heading-title {
  font-size: 36px;
  text-align: center;
}

.directionsList{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  list-style-type: none;
}

#donutButton {
  display: block;
  margin: auto auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 70px;
}

#game-scores {
  display: flex;
  justify-content: space-around;
  margin: 20px 20px 20px 20px;
}

.game-choices {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button {
  text-decoration: none;
  background-color: lightblue;
  font-size: 14px;
  color: black;
  border-radius: 10px;
  padding: 5px 5px;
}

.aboutContainer{
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
}

#about-fred-info, #about-me-info {
  text-align: center;
}

.contactList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  text-decoration-style: none;
}



.back_to_top {
  text-align: center;
}

#footer {
  text-align: center;
  margin: 10px auto;
  font-size: 16px;
}
